@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-Regular.ttf);
    font-weight: 400;
}
body{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0;
    font-family: 'Inter';
}
a{
    text-decoration: none;
    color: black;
}
p{
    margin: 0;
}
h1{
    margin: 0;
}
ul,li{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
    margin: 0 64px;
}
.header_left-side, 
.main-navigation,
.header_right-side,
.header_helpers{
    display: flex;
    align-items: center;
}
.logo{
    fill: #1F2020;
}
.logo:hover{
    fill: rgb(58, 121, 66);
    transition: 0.5s;
    cursor: pointer;
}
li{
    list-style: none;
}
.main-navigation li{
    text-transform: uppercase;
    margin-right: 24px;
    font-size: 14px;
    color: #1F2020;
}
.main-navigation li:hover{
    text-decoration: underline;
}
.header_call{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.header_call span{
    color: rgba(160, 159, 159, 0.701);
}
.header_helpers li{
    margin-right: 24px;
    cursor: pointer;
}
.profile-icon:hover{
    fill: rgba(0, 0, 255, 0.344);
}
.heart-icon:hover{
fill: rgba(255, 0, 0, 0.298);
}
.search-icon:hover{
    fill: rgb(190, 187, 187);
}
.basket-icon{
    background-color: #7BB899;
    width: 24px;
    height: 24px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
}

.option-slider{
    position: relative;
    color: white;
}
.option-slider_colors{
    background-image: url(./assets/images/png/background-image.png);
    background-size: cover;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.option-slider_pointer{
    font-size: 10px;
    position: absolute;
    top: 32px;
    left: 64px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #C4C4C4;
    text-transform: uppercase;
}
.ellipce{
    background-color: #C4C4C4;
    width: 3px;
height: 3px;
border-radius: 50%;
}
h1{
    font-size: 72px;
    margin-bottom: 24px;
}
.option-slider_colors p{
    font-size: 16px;
}
footer{
    background-color: black;
    height: 200px;
}
.catalog{
    margin: 100px 64px;
    display: flex;
    /* gap: 130px; */
    
}
.change-slide{
    position: absolute;
    bottom: 150px;
    right: 350px;
}
.slider-inputs{
    background-color: rgba(0, 0, 0, 0.4);
    width: 124px;
    height: 32px;
    border-radius: 25px;
    position: absolute;
    bottom: 40px;
    left: 45%;

}

.catalog-container{
    text-transform: uppercase;
    display: flex;
gap: 12px;
align-items: center;
margin-bottom: 10px;
}
  .toggle-button {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
    margin: 0;
    vertical-align: top;
    background: #F2F2F2;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  
   }

   .toggle-button::after {
    content: "";
  
    display: inline-block;
    position: absolute;
    left: 7px;
    top: 7px;
  
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
    transform: translateX(0);
  }
  .toggle-button:checked::after {
    transform: translateX(calc(100% + 5px));
  }
  .toggle-button:checked {
    background-color: #7BB899;
  }
  .heading{
      display: flex;
      justify-content: space-between;
    
  }
  .catalog-cards{
      width: 70%;
  }
  aside{
      width: 30%;
  }
  select{
      border: none;
      list-style: none;
  }
  
.custom{
text-transform: uppercase;
position: relative;
}
  .custom-button{
    text-transform: uppercase;
border: none;
background-color: white;
cursor: pointer;
  }
  .custom-list{
    display: none;
      position: absolute;
      z-index: 110;
      top: 0;
      right: 0;
      background-color: white;
width: 280px;
  }
  .custom-list li{
     
      height: 48px;
      display: flex;
      align-items: center;
      padding-left: 24px;
      font-size: 12px;
    
  }
  .custom-active{
    background-color: #7BB899;
      }
  .custom-list li:hover{
    background-color: #7bb89a81;
  }

  .overflow{
      display: none;
      position: fixed;
    width: 100vw;
    height: 100vh;
      background-color: #1f2020b3;
      z-index: 100;
  }